<p>
  playground works!
</p>

<p> Without Pipe: Today is {{ birthday }}</p>
<p> With Pipe: Today is {{ birthday | date: "MM/dd/yy" }}</p>
<p>The time is {{ birthday | date: "shortTime" }}</p>
<p>The time is {{ birthday | date: "medium" | trimSpace }}</p>
<p>The time is {{ birthday | date: "medium" | uppercase }}</p>

<button appLogOnClick >Click me</button>

<div [@signal]="'go'"
class="traffic-light"></div>

<div [@signal]="signal"
class="traffic-light"></div>

<button (click)="onGo()">Go</button>
<button (click)="onStop()">Stop</button>

<ul>
  <li><a routerLink="one">One</a></li>
  <li><a routerLink="two">Two</a></li>
</ul>

<router-outlet></router-outlet>
